.cargo/*
!.cargo/config.toml
target*
build*

certs

**/manifest.yaml


**/values-secrets.yaml
**/*.key
**/vars-secrets.tf
**/*.tfstate*
**/.terraform

.env
*.tar
*.tar.gz
*.svg
*.png
*.log
*.pb
*.gpg
*.perf
perf.data
perf.data.*
nohup.out
