.cargo/*
.go
target*
build*

**/manifest.yaml

**/values-secrets.yaml
**/*.key
**/vars-secrets.tf
**/*.tfstate*
**/.terraform

.env
*.tar
*.tar.gz
*.svg
*.png
*.log
*.pb
*.gpg
*.perf
*.json
!.vscode/*.json
!.devcontainer/*.json
perf.data
perf.data.*
nohup.out
notes.*
