---

# For GCP deployments, use_gcp = true
gcp_project: ""
gcp_region: ""

# For AWS deployments, use_gcp = false

aws_account_id: ""
aws_default_region: ""
aws_access_key_id: ""
aws_secret_access_key: ""

workers:
    - hostname: ""
      replicas: 6
